/* __Global__ */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: auto;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

button, a {
  width: 150px !important;
  margin: 4px !important;
}

input {
  margin-top: 4px !important;
}

/* __ Index Page __ */

button[data-bs-dismiss="modal"] {
  width: fit-content !important;
}

.visually-hidden{
  visibility: hidden !important;
}

.form-range {
    height: 10px;
    border-radius: 10px;
    background: gray;
}

.form-range::-webkit-slider-thumb {
    background: green; 
    cursor: pointer;
}

.form-range::-moz-range-thumb {
    background: green; 
    cursor: pointer;
}

.card button {
  border-bottom: 1px solid gray;
  padding: 1px;
}

/* __ Cart Page __ */

tr td button {
  width: fit-content !important;
}
