/* Global */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: auto;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.navbar {
  /* width: 100%; */
  height: fit-content;
  padding: 8px 16px;
  margin: 12px 12px;
  text-align: center;
  color: #fff;
  background-color: rgb(2, 170, 2);
}