/* __Global__ */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: auto;
  box-sizing: border-box;
  overflow-x: hidden !important;
}


input {
  margin-top: 4px !important;
}

/* __ Index Page __ */

.form-range {
    height: 10px;
    border-radius: 10px;
    background: gray;
}